.control-group
  = label_tag id, field.name, class: :'control-label'
  .controls
    = select_tag id, options_for_select([[t(:yes), true], [t(:no), false]], value),
        name: "fields[#{field.id}][value]", include_blank: true, class: 'input-small'
