= f.input 'value_cb', label: field.name, as: :check_boxes, required: field.required,
    collection: field.select_options, include_blank: !field.required,
    item_wrapper_class: 'inline', hint: field.hint.blank? ? nil : field.hint
