= f.input :value, priority: priority_countries, label: field.name, as: :country,
    required: field.required, include_blank: !field.required,
    input_html: { class: :"input-xxlarge" }, hint: (field.hint.blank? ? nil : field.hint)
