= f.input :value_date, label: field.name, required: field.required,
    input_html: { data: { "date-language" => I18n.locale },
    class: 'datepicker input-small' }, hint: field.hint.blank? ? nil : field.hint
