development:
  adapter: postgresql
  encoding: unicode
  database: inscreva
  pool: 5
  username: postgres
  password:

test:
  adapter: postgresql
  encoding: unicode
  database: inscreva_test
  pool: 5
  username: postgres
  password:

production:
  adapter: postgresql
  encoding: unicode
  database: inscreva
  pool: 5
  username: inscreva
  password:
