/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require formtastic-bootstrap
 *= require formtastic_ie6
 *= require formtastic_ie7
 *= require subscription
 *= require_self
 */

@import "bootstrap";

.footer {
  margin-top: 30px;
  border-top: 1px solid #E5E5E5;
  text-align: right;
  background-color: whiteSmoke;
  padding-top: 30px;
  padding-bottom: 30px;
  width: 100%;
  bottom: 0;
}
