
.event-field:hover {
  background-color: #fcf8e3;
}

.event-field {
  padding-top: 15px;
  border-bottom: 1px solid #eeeeee;
}

.left-col {
  padding-right: 30px;
}

.modal form {
  margin: 0 0 0;
}

.modal-body {
  position: inherit;
}
