
#page_content {
  width: 95%;
}

@import "bootstrap/variables";
@import "bootstrap/mixins";
@import "bootstrap/tables";

.md-page {
  p {
    text-align: justify;
    text-indent: 50px;
  }
  table {
    @extend .table;
    @extend .table-striped;
    td[align=right],th[align=right] {
      text-align: right;
    }
    td[align=center],th[align=center] {
      text-align: center;
    }
  }
  h1 {
    margin-bottom: 20px;
  }
  h2 {
    margin-bottom: 20px;
  }
}
