
.markItUp,.markItUp textarea {
  height: 60em;
}

.markItUpButton {
  height: 22px;
  width: 22px;
}

.md-page {
  p {
    text-align: justify;
    text-indent: 50px;
  }
  table {
    @extend .table;
    @extend .table-striped;
    th,td[align=center] {
      text-align: center;
    }
    td[align=right],th[align=right] {
      text-align: right;
    }
    th[align=left] {
      text-align: left;
    }
  }
  h1 {
    margin-bottom: 20px;
  }
  h2 {
    margin-bottom: 20px;
  }
}
