
#page_content {
  width: 95%;
}

.md-page {
  p {
    text-align: justify;
    text-indent: 50px;
  }
  td {
    padding: 5px;
  }
  tr {
    border-bottom: 1px solid;
  }
  h1 {
    margin-bottom: 20px;
  }
  h2 {
    margin-bottom: 20px;
  }
}
