<p>Olá <%= @resource.name || @resource.email %>!</p>

<p>Foi solicitada recuperação de sua senha. Para recuperá-la, utilize o <em>link</em> abaixo.</p>

<p><%= link_to 'Alterar minha senha', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Se você não fez esta solicitação, por favor, ignore este e-mail.</p>
<p>Sua senha continuará a mesma até que você acesse o <em>link</em> acima e a altere.</p>
